body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
  }
  
  #sizeBtn {
    margin-bottom: 25px;
    padding: 10px;
  }
  